
/* ==================== */
/* Music Player */
/* ==================== */

.music-player {
	background-color: #eaeaea;
	border-radius: 12px;
	overflow: hidden;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;	
	width: 100%;
	max-width: 600px;
}


/* ==================== */
/* Title & Controls */
/* ==================== */

.title-controls {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	margin: 10px 0;
	padding: 0px 40px;
}

.title {
	color: #222;
	margin: 0 0 0 30px;
	font-size: 28px;
	font-weight: 300;
}

.btn {
	--button-width: 60px;
	
	background-color: #3e3c41;
	width: var(--button-width);
	height: var(--button-width);
	border-radius: 50%;
	border: none;
}

.btn-play::after {
	--play-width: var(--button-width) / 2;

	content: '';
	display: inline-block;
	transform: translate(4px, 2px);
	/* For an equilateral triangle 
	the border-left is 86.6% of the total width */
	/* (border-top + border-bottom) * 0.866  */
	border-top: calc(var(--play-width) / 2) solid transparent;
	border-bottom: calc(var(--play-width) / 2) solid transparent;
	border-left: calc(var(--play-width) * 0.866) solid tomato;
}

.btn-pause::before {
	content: '';
	display: inline-block;
	border-left: 8px solid tomato;
	height: calc(var(--button-width) / 2);
	transform: translate(-4px, 2px);
}

.btn-pause::after {
	content: '';
	display: inline-block;
	border-right: 8px solid tomato;
	height: calc(var(--button-width) / 2);
	transform: translate(4px, 2px);
}

.btn-replay::after {
	content: '\21BB';
	display: inline-block;
	color: tomato;
	font-size: 58px;
	font-weight: 800;
	transform: rotate(120deg)
						translate(-4px, -3px);
}


/* ==================== */
/* Progress Bar */
/* ==================== */

.progress-bar {
	border-bottom: 8px solid tomato;
}
