
/* ==================== */
/* Progress Bar */
/* ==================== */

.progress-bar {
	transition: width 100ms ease-in-out;
	height: 16px;
	width: 0%;
	background-color: tomato;
}

input[type="range"] {
  width: 100%;
}