.display {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 84px;
	z-index: 1;
}

.display .value {
	font-size: 48px;
	font-weight: 300;
	padding-right: 15px;
	margin-bottom: 0px;
	color: #fff;
}