.music-player {
	display: grid;
	grid-template-columns: 1fr 2fr;
	width: 75%;
	padding: 10px 25px;
	background: #ccc;
}

.music-player .title {
	margin: 0;
}

.music-player .progress-bar {
	grid-column: 1 / span 2;
}