
@import './components/button/Button.scss';
@import './components/advanced-buttons/AdvancedButtons.scss';
@import './components/numeric-buttons/NumericButtons.scss';
@import './components/operation-buttons/OperationButtons.scss';
@import './components/results/Result.scss';

// General
.App {
	/* button size variable */
	--btn-width: 56px;
	--btn-height: 47px;
	--gap-size: 1px;

	// color variables
	--orange: #fa9f0c;
	--dk-orange: #cb7d0b;
	--dk-grey: #323232;
	--md-grey: #565656;
	--lt-grey: #8a8888;
	--ltest-grey: #aaa9aa;

	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* Calculator */
	.calc-container {
		color: #fff;
		width: 227px;
		height: 320px;
		padding: 1px;
		border-radius: 10px;
		background-color: var(--dk-grey);

		.calc-btns-container {
			display: inline-grid;
			grid-template-areas: "adv adv adv operation"
													"num num num operation"
													"num num num operation"
													"num num num operation"
													"num num num operation";
			gap: var(--gap-size);
		}
		
		.two-col {
			grid-column: span 2;
		}

		.rounded-left-corner {
			border-bottom-left-radius: 8px
		}

		.rounded-right-corner {
			border-bottom-right-radius: 8px
		}
	}
}